@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

/* THIS NEEDs TO REMAIN IMPORTANT OR THE CALENDAR WILL APPEAR AS WHITE TEXT ON WHITE BACKGROUND
You cannot change the color in the node_modules/react-calendar/dist/Calendat.css file because vercel does not use local node_modules */
.react-calendar {
  background-color: #222831 !important;
}